[submodule "upstream/prismarine-provider-anvil"]
	path = upstream/prismarine-provider-anvil
	url = git@github.com:PrismarineJS/prismarine-provider-anvil.git
[submodule "upstream/uint4"]
	path = upstream/uint4
	url = git@github.com:wtfaremyinitials/uint4.git
[submodule "upstream/vec3"]
	path = upstream/vec3
	url = git@github.com:PrismarineJS/node-vec3.git
[submodule "upstream/prismarine-nbt"]
	path = upstream/prismarine-nbt
	url = git@github.com:PrismarineJS/prismarine-nbt.git
[submodule "upstream/prismarine-chunk"]
	path = upstream/prismarine-chunk
	url = git@github.com:PrismarineJS/prismarine-chunk.git
[submodule "upstream/prismarine-viewer"]
	path = upstream/prismarine-viewer
	url = git@github.com:PrismarineJS/prismarine-viewer.git
[submodule "upstream/prismarine-world"]
	path = upstream/prismarine-world
	url = git@github.com:PrismarineJS/prismarine-world.git
[submodule "upstream/prismarine-item"]
	path = upstream/prismarine-item
	url = https://github.com/PrismarineJS/prismarine-item.git
